h1{
    color: orangered
}

.headingpayee{
    margin-top: 5%;
    text-align:center;
    color:orangered;
}
.makepaymentform{
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    
}
.addPayeeButton{
    margin-left:40%;
    text-align: left;
}
.alignment{
    margin-top: 0%;
}
.row{
    position: relative;
    margin-left:40%;
}
table{
    font-size:15px;
    font-weight: bold;
    margin-left: 10%;
    border: solid;
    width:80%;
    text-align: center;
}
table th{
    color: orangered;
}
table tr td{
    border: 1px solid;
    text-align: center;
}